.frame-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: rgba(255, 255, 255, 0.5);
  width: 929px;
  height: 600px;
}
.browse-by-place {
  position: relative;
  font-weight: 500;
}
.browse-by-place-parent {
  position: absolute;
  top: 30px;
  left: 27px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 64px;
  font-size: var(--font-size-13xl);
}
.patan-durbar-square {
  position: relative;
  font-weight: 500;
  white-space: pre-wrap;
}
.sagarmatha-national-park {
  width: 305px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  height: 32px;
  flex-shrink: 0;
}
.kathmandu-durbar-square-parent {
  position: absolute;
  top: 102px;
  left: 341px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.bhaktapur {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.group-child66 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-lightcoral);
  width: 168px;
  height: 37px;
}
.view-more {
  position: absolute;
  top: 4px;
  left: 15px;
  font-weight: 500;
}
.vector-icon11 {
  position: absolute;
  height: 45.95%;
  width: 5.95%;
  top: 27.03%;
  right: 5.95%;
  bottom: 27.03%;
  left: 88.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent44 {
  width: 168px;
  position: relative;
  height: 37px;
}
.bungee-jumping-parent,
.kathmandu-parent {
  position: absolute;
  top: 102px;
  left: 37px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.bungee-jumping-parent {
  left: 705px;
}
.rectangle-top {
  width: 929px;
  position: relative;
  height: 600px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
