.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 212px;
  height: 83px;
}
.frame-child1,
.frame-inner,
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  border: 1.5px solid var(--color-black);
  box-sizing: border-box;
  width: 212px;
  height: 29px;
}
.frame-child1,
.frame-inner {
  top: 27px;
}
.frame-child1 {
  top: 54px;
}
.deluxe,
.premium,
.standard {
  position: absolute;
  top: 5px;
  left: 71px;
}
.deluxe,
.premium {
  top: 32px;
  left: 80px;
}
.premium {
  top: 59px;
  left: 72px;
}
.rectangle-root {
  width: 212px;
  position: relative;
  height: 83px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
