.macbook-pro-16-1-child {
  position: absolute;
  top: -4px;
  left: 0;
  background-color: var(--color-steelblue);
  width: 1728px;
  height: 105px;
}
.subtract-icon {
  position: relative;
  width: 1728px;
  height: 780px;
}
.top-destinations {
  position: absolute;
  top: 909px;
  left: 22px;
  font-size: var(--font-size-45xl);
}
.macbook-pro-16-1-item {
  position: absolute;
  top: 3218px;
  left: 0;
  background-color: #3d3c3c;
  width: 1728px;
  height: 312px;
}
.ak {
  margin: 0;
}
.ak-tour-and-container {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 35px;
  font-family: var(--font-kelly-slab);
  color: var(--color-snow);
  text-align: center;
}
.group-child6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  width: 445px;
  height: 381px;
  object-fit: cover;
}
.muktinath-tour {
  position: absolute;
  top: 410px;
  left: 2px;
  font-weight: 500;
}
.rectangle-parent6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 445px;
  height: 449px;
  cursor: pointer;
}
.everest-base-camp {
  position: absolute;
  top: 410px;
  left: 7px;
  font-weight: 500;
}
.rectangle-parent7 {
  position: absolute;
  top: 0;
  left: 465px;
  width: 445px;
  height: 449px;
}
.group-parent,
.rectangle-parent8,
.rectangle-parent9 {
  position: absolute;
  top: 0;
  left: 930px;
  width: 445px;
  height: 449px;
}
.group-parent,
.rectangle-parent9 {
  left: 1395px;
}
.group-parent {
  top: 1639px;
  left: 20px;
  width: 1706px;
  overflow-x: auto;
  font-size: var(--font-size-13xl);
}
.kathmandu-durbar-square {
  position: absolute;
  top: 410px;
  left: 0;
  font-weight: 500;
}
.group-container,
.rectangle-parent14,
.rectangle-parent15 {
  position: absolute;
  top: 0;
  left: 1860px;
  width: 445px;
  height: 449px;
}
.group-container,
.rectangle-parent15 {
  left: 2325px;
}
.group-container {
  top: 1044px;
  left: 22px;
  width: 1706px;
  overflow-x: auto;
  font-size: var(--font-size-13xl);
}
.macbook-pro-16-1-inner,
.rectangle-div {
  position: absolute;
  top: 2252px;
  left: -2px;
  background-color: rgba(211, 204, 204, 0.3);
  width: 1728px;
  height: 457px;
}
.rectangle-div {
  top: 2736px;
  background-color: rgba(192, 189, 189, 0.3);
}
.what-customer-says {
  position: absolute;
  top: 2146px;
  left: 20px;
  font-size: var(--font-size-29xl);
  font-weight: 600;
}
.vector-icon {
  position: absolute;
  top: 2270px;
  left: 1138px;
  width: 343px;
  height: 385px;
  object-fit: cover;
}
.lorem-ipsum-dolor-container {
  position: absolute;
  top: 2261px;
  left: 22px;
  font-weight: 500;
}
.lorem-ipsum-dolor-container1 {
  position: absolute;
  top: 2837px;
  left: 874px;
}
.lorem-ipsum,
.lorem-ipsum1 {
  position: absolute;
  top: 2389px;
  left: 28px;
  font-weight: 600;
}
.lorem-ipsum1 {
  top: 2965px;
  left: 880px;
}
.macbook-pro-16-1-child1,
.star-icon {
  position: absolute;
  top: 2425px;
  left: 28px;
  width: 38px;
  height: 38px;
}
.macbook-pro-16-1-child1 {
  top: 3001px;
  left: 880px;
}
.macbook-pro-16-1-child2,
.macbook-pro-16-1-child3 {
  position: absolute;
  top: 2425px;
  left: 72px;
  width: 38px;
  height: 38px;
}
.macbook-pro-16-1-child3 {
  top: 3001px;
  left: 924px;
}
.macbook-pro-16-1-child4,
.macbook-pro-16-1-child5 {
  position: absolute;
  top: 2425px;
  left: 116px;
  width: 38px;
  height: 38px;
}
.macbook-pro-16-1-child5 {
  top: 3001px;
  left: 968px;
}
.macbook-pro-16-1-child6,
.macbook-pro-16-1-child7 {
  position: absolute;
  top: 2425px;
  left: 160px;
  width: 38px;
  height: 38px;
}
.macbook-pro-16-1-child7 {
  top: 3001px;
  left: 1012px;
}
.macbook-pro-16-1-child8,
.macbook-pro-16-1-child9,
.vector-icon1 {
  position: absolute;
  top: 2425px;
  left: 204px;
  width: 38px;
  height: 38px;
}
.macbook-pro-16-1-child9,
.vector-icon1 {
  top: 3001px;
  left: 1056px;
}
.vector-icon1 {
  top: 2779px;
  left: 204px;
  width: 384px;
  height: 371px;
  object-fit: cover;
}
.tour-package {
  position: absolute;
  top: 1527px;
  left: 20px;
  font-size: var(--font-size-45xl);
}
.follow-us,
.send-feedback {
  top: 3249px;
  font-size: var(--font-size-17xl);
}
.send-feedback {
  position: absolute;
  left: 1114px;
  font-weight: 500;
  color: var(--color-white);
}
.follow-us {
  left: 642px;
}
.contact,
.div,
.follow-us,
.travelsgmailcom {
  position: absolute;
  font-weight: 500;
  color: var(--color-white);
}
.contact {
  top: 3249px;
  left: 22px;
  font-size: var(--font-size-17xl);
}
.div,
.travelsgmailcom {
  top: 3308px;
  left: 77px;
}
.travelsgmailcom {
  top: 3361px;
  display: inline-block;
  width: 219px;
  height: 25px;
}
.macbook-pro-16-1-child10 {
  position: absolute;
  top: 3301px;
  left: 1111px;
  border-radius: var(--br-xl);
  border: 4px solid var(--color-snow);
  box-sizing: border-box;
  width: 587px;
  height: 97px;
}
.macbook-pro-16-1-child11,
.macbook-pro-16-1-child12 {
  position: absolute;
  top: 3425px;
  left: 1107px;
  border-radius: var(--br-xl);
  background-color: #c1bcb5;
  width: 423px;
  height: 67px;
}
.macbook-pro-16-1-child12 {
  left: 1540px;
  background-color: #ff2b2b;
  width: 158px;
}
.submit {
  position: absolute;
  top: 3439px;
  left: 1565px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
}
.enter-your-email {
  position: absolute;
  top: 3444px;
  left: 1118px;
  font-weight: 500;
  color: #706c6c;
}
.macbook-pro-16-1-child13 {
  position: absolute;
  top: 304px;
  left: 0;
  background-color: rgba(217, 217, 217, 0.25);
  width: 1728px;
  height: 139px;
}
.lets-explore-the {
  position: absolute;
  top: 335px;
  left: 348px;
  font-size: var(--font-size-45xl);
  color: #f90606;
  text-align: center;
}
.akar-iconsinstagram-fill {
  width: 40px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.akar-iconsinstagram-fill-parent {
  position: absolute;
  top: 3343px;
  left: 647px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.bxsphone-call-icon {
  position: absolute;
  top: 3301px;
  left: 19px;
  width: 46.3px;
  height: 46.3px;
  overflow: hidden;
  object-fit: contain;
}
.fluentmail-24-filled-icon {
  position: absolute;
  top: 3356px;
  left: 28px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.group-child16 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-indianred);
  width: 130px;
  height: 50px;
}
.home {
  position: absolute;
  top: 7px;
  left: 24px;
  font-weight: 500;
}
.group-child17,
.rectangle-parent16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 50px;
}
.group-child17 {
  border-radius: var(--br-xl);
  background-color: var(--color-indianred);
  width: 147.4px;
  height: 49px;
}
.about-us {
  position: absolute;
  top: 4px;
  left: 9px;
  display: inline-block;
  width: 130px;
  height: 40px;
}
.group-child18,
.rectangle-parent17 {
  position: absolute;
  top: 1px;
  left: 151px;
  width: 147.4px;
  height: 49px;
}
.group-child18 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-indianred);
  width: 148.8px;
}
.transport {
  position: absolute;
  top: 4px;
  left: 6px;
  display: inline-block;
  width: 137px;
  height: 40px;
}
.group-child19,
.rectangle-parent18 {
  position: absolute;
  top: 1px;
  left: 320px;
  width: 148.8px;
  height: 49px;
}
.group-child19 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-indianred);
  width: 171px;
}
.destination {
  position: absolute;
  top: 7px;
  left: 7px;
  white-space: pre-wrap;
  display: inline-block;
  width: 158px;
  height: 34px;
}
.frame-div,
.rectangle-parent19 {
  position: absolute;
  top: 1px;
  left: 497px;
  width: 171px;
  height: 49px;
}
.frame-div {
  top: 23px;
  left: 823px;
  width: 668px;
  height: 50px;
  font-size: var(--font-size-10xl);
  color: var(--color-white);
}
.group-child20,
.group-child21 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue);
  width: 227px;
  height: 43px;
}
.group-child21 {
  left: 94px;
  background-color: var(--color-indianred);
  width: 133px;
}
.login,
.register {
  position: absolute;
  top: 6px;
  left: 18px;
}
.register {
  left: 117px;
}
.rectangle-parent20 {
  position: absolute;
  top: 27px;
  left: 1501px;
  width: 227px;
  height: 43px;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
}
.macbook-pro-16-1-child14 {
  position: absolute;
  top: 26px;
  left: 393px;
  border-radius: 10px;
  background-color: var(--color-gainsboro-100);
  width: 325px;
  height: 45px;
}
.search {
  position: absolute;
  top: 36px;
  left: 425px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: #676565;
}
.vector-icon2 {
  position: absolute;
  height: 0.54%;
  width: 1.11%;
  top: 1.1%;
  right: 75.75%;
  bottom: 98.36%;
  left: 23.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.macbook-pro-16-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3532px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
