.macbook-pro-16-6-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 822px;
  object-fit: cover;
}
.muktinath-tour2 {
  position: absolute;
  top: 865px;
  left: 79px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.subtract-icon2 {
  position: relative;
  width: 262.6px;
  height: 82px;
}
.p3 {
  margin: 0;
}
.days2,
.nights2 {
  position: absolute;
  top: 930px;
  left: 99px;
  font-size: var(--font-size-7xl);
  text-align: center;
}
.days2 {
  top: 929px;
  left: 255px;
}
.jomsom1n1,
.kathmandu1n2,
.kathmandu1n3,
.pokhara1n1 {
  position: absolute;
  top: 929px;
  left: 537px;
  text-align: center;
}
.jomsom1n1,
.kathmandu1n3,
.pokhara1n1 {
  left: 827px;
}
.jomsom1n1,
.kathmandu1n3 {
  left: 1071px;
}
.kathmandu1n3 {
  left: 1319px;
}
.macbook-pro-16-6-inner,
.macbook-pro-16-6-item {
  position: absolute;
  top: 921px;
  left: 504px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 1068px;
  height: 2px;
}
.macbook-pro-16-6-inner {
  top: 978px;
}
.fill-your-details1 {
  position: absolute;
  top: 1166px;
  left: 79px;
}
.rs350003051,
.starting-price-per1 {
  position: absolute;
  top: 1066px;
  left: 79px;
}
.rs350003051 {
  top: 1027px;
}
.add-room1,
.room-11 {
  position: absolute;
  top: 1386px;
  left: 143px;
}
.add-room1 {
  top: 1425px;
  font-size: var(--font-size-4xl);
}
.tour-type1,
.travellers1 {
  position: absolute;
  top: 1254px;
  left: 141px;
}
.travellers1 {
  top: 1327px;
  left: 143px;
}
.date-of-travels1 {
  position: absolute;
  top: 1520px;
  left: 140px;
}
.contact-details1 {
  position: absolute;
  top: 1653px;
  left: 141px;
}
.bxsuser-icon1,
.macbook-pro-16-6-child1 {
  position: absolute;
  top: 1256px;
  left: 107px;
  width: 32px;
  height: 32px;
}
.bxsuser-icon1 {
  top: 1331px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.macbook-pro-16-6-child2,
.macbook-pro-16-6-child3,
.macbook-pro-16-6-child4 {
  position: absolute;
  top: 1514px;
  left: 376px;
  background-color: var(--color-gainsboro-100);
  width: 212px;
  height: 35px;
}
.macbook-pro-16-6-child3,
.macbook-pro-16-6-child4 {
  top: 1656px;
}
.macbook-pro-16-6-child4 {
  left: 611px;
}
.email1,
.mobile1 {
  position: absolute;
  top: 1662px;
  left: 382px;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
}
.email1 {
  left: 617px;
}
.group-child44 {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 89px;
  height: 35px;
}
.group-child45,
.group-child46,
.group-child47 {
  position: absolute;
  top: 1px;
  left: 0;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 31px;
  height: 35px;
}
.group-child46,
.group-child47 {
  left: 29px;
}
.group-child47 {
  left: 58px;
}
.div7,
.div8,
.div9 {
  position: absolute;
  top: 0;
  left: 8px;
}
.div8,
.div9 {
  left: 63px;
}
.div9 {
  top: 5px;
  left: 38px;
  font-size: var(--font-size-5xl);
}
.rectangle-parent36 {
  position: absolute;
  top: 1387px;
  left: 376px;
  width: 89px;
  height: 36px;
}
.div12 {
  position: absolute;
  top: 4px;
  left: 38px;
  font-size: var(--font-size-5xl);
}
.rectangle-parent37 {
  position: absolute;
  top: 1388px;
  left: 486px;
  width: 89px;
  height: 36px;
}
.adult1,
.child1 {
  position: absolute;
  top: 1352px;
  left: 376px;
  font-size: var(--font-size-5xl);
}
.child1 {
  left: 501px;
}
.group-child52,
.group-child53 {
  position: absolute;
  top: 0;
  height: 35px;
}
.group-child52 {
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 212px;
}
.group-child53 {
  left: 184px;
  max-width: 100%;
  overflow: hidden;
}
.v1 {
  position: absolute;
  top: 3px;
  left: 192px;
}
.rectangle-parent38 {
  position: absolute;
  top: 1251px;
  left: 376px;
  width: 212px;
  height: 35px;
  font-size: var(--font-size-5xl);
}
.yyyymmdd1 {
  position: absolute;
  top: 1520px;
  left: 384px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
}
.bxsphone-icon1,
.vector-icon5 {
  position: absolute;
  overflow: hidden;
}
.bxsphone-icon1 {
  top: 1646.6px;
  left: 97.6px;
  width: 50.9px;
  height: 50.9px;
  object-fit: contain;
}
.vector-icon5 {
  height: 1.45%;
  width: 1.74%;
  top: 73.66%;
  right: 92.25%;
  bottom: 24.89%;
  left: 6.02%;
  max-width: 100%;
  max-height: 100%;
}
.i-accept-the1,
.your-booking-details1 {
  position: absolute;
  top: 1729px;
  left: 141px;
  font-size: var(--font-size-base);
}
.i-accept-the1 {
  top: 1780px;
  left: 174px;
  font-size: var(--font-size-xl);
}
.macbook-pro-16-6-child5 {
  position: absolute;
  top: 1780px;
  left: 141px;
  border: 2px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 25px;
  height: 24px;
}
.group-child54 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-red-200);
  width: 387px;
  height: 47px;
}
.calculate-package-price1 {
  position: absolute;
  top: 9px;
  left: 56px;
  font-weight: 500;
}
.rectangle-parent39 {
  position: absolute;
  top: 1839px;
  left: 141px;
  width: 387px;
  height: 47px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.macbook-pro-16-6-child6 {
  position: absolute;
  top: 952px;
  left: 760px;
  max-height: 100%;
  width: 57px;
}
.macbook-pro-16-6-child7,
.macbook-pro-16-6-child8 {
  position: absolute;
  top: 951px;
  left: 1258px;
  max-height: 100%;
  width: 57px;
}
.macbook-pro-16-6-child8 {
  top: 947px;
  left: 1010px;
}
.macbook-pro-16-6-child9 {
  position: absolute;
  top: 1937px;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 1728px;
  height: 132px;
}
.back-to-home3 {
  position: absolute;
  top: 1979px;
  left: 648px;
  font-size: var(--font-size-21xl);
  font-weight: 500;
  cursor: pointer;
}
.macbook-pro-16-6-child10 {
  position: absolute;
  top: 4px;
  left: 0;
  background-color: var(--color-gray-200);
  box-shadow: 0 11px 10px rgba(0, 0, 0, 0.5);
  width: 1728px;
  height: 818px;
}
.vector-icon6,
.vector-icon7 {
  position: absolute;
  height: 2.85%;
  width: 1.97%;
  top: 19.48%;
  right: 2.08%;
  bottom: 77.67%;
  left: 95.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.vector-icon7 {
  right: 96.06%;
  left: 1.97%;
  object-fit: contain;
}
.pokhara1 {
  position: absolute;
  top: 717px;
  left: 738px;
  font-size: var(--font-size-45xl);
  font-weight: 500;
  color: var(--color-white);
}
.macbook-pro-16-6 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2069px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 212px;
  height: 83px;
}
.frame-child1,
.frame-inner,
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  border: 1.5px solid var(--color-black);
  box-sizing: border-box;
  width: 212px;
  height: 29px;
}
.frame-child1,
.frame-inner {
  top: 27px;
}
.frame-child1 {
  top: 54px;
}
.deluxe,
.premium,
.standard {
  position: absolute;
  top: 5px;
  left: 71px;
}
.deluxe,
.premium {
  top: 32px;
  left: 80px;
}
.premium {
  top: 59px;
  left: 72px;
}
.rectangle-root {
  width: 212px;
  position: relative;
  height: 83px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
